

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 10px 20px;
    color: white;
}

header .logo img {
    max-height: 100px;
}

.nav-list {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-list a:hover {
    text-decoration: underline;
}

.search-form input {
    padding: 5px;
    margin-right: 5px;
}

section {
    padding: 20px;
}

.catalog {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.filter {
    flex: 1;
    max-width: 200px;
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


main {
    flex: 1; 
}
.products {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.product {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

.product img {
    max-width: 100%;
    border-radius: 4px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
	display: flex;
    flex-direction: column;
    min-height: 100vh; 
    
}

.button {
    min-width: 100px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4CAF50;
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center; 
    display: flex
  }
  
  .button:hover {
    background: #38803a;
    
  }
  
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }
  .submit{
    min-width: 100px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #409643;
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    display: flex
    
      
  }
  
  .submit:hover {
    background: #38803a;
    
  }
  
  .submit:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }
  a{
    text-decoration: none
  }